body{
    background-color: #87cefa;
}

.container{
    background-color: #4169e1;
    width: 500px;
    height: 200px;
    margin-top: 15%;
}

.container h1{  
    text-align: center;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.container h2{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.button{
    background-color: #fff;
}

@media (max-width: 758px){
    .container{
        background-color: #191970;
        width: 100%;
    } 

    .container h1{  
        font-size: 15px;
        text-align: center;
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
    }
}


@media (max-width: 500px){
    .container{
        background-color: #191970;
        width: 100%;
    }
}
