body{
    background-image: url("../img/dolar.gif"); 
    background-repeat: repeat-y;
    background-size: cover;

}

.container{
    background-color: #90ee90;
    max-width: 800px;
    margin-top: 15%;
    padding: 20px;
}

.container h1{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}

.cont{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#converter{
    background-color: #b0e0e6;
}

@media (max-width: 758px){

}
